* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(19, 24, 98), rgb(67, 31, 102)); /* Degradado azul marino y morado marino */
}

.container {
    text-align: center; /* Cambiado a center para centrar el contenido */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px 20px; /* Margen reducido para móviles */
}

.title {
    font-size: 2rem; /* Tamaño reducido para móviles */
    color: #f4d03f; /* Color dorado */
    margin-bottom: 15px;
    margin-top: 15px; /* Ajusta el espacio hacia arriba */
}

.buttons {
    margin-top: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px; /* Tamaño ajustado para móviles */
    margin: 8px;
    background-color: #3498db; /* Azul */
    color: white;
    text-decoration: none;
    font-size: 1.2rem; /* Tamaño ajustado para móviles */
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #2980b9; /* Azul más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de crecimiento */
}

/* Créditos modernos para móviles */
.credits {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente blanco */
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem; /* Tamaño reducido para móviles */
    color: #f0f0f0; /* Color moderno */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Sombras elegantes */
}

.credits h2 {
    font-size: 1.5rem; /* Tamaño ajustado para móviles */
    color: #f4d03f; /* Color dorado */
    margin-bottom: 10px;
}

.credits p {
    margin: 8px 0;
}

.credits span {
    display: block;
    font-size: 0.9rem; /* Tamaño ajustado para móviles */
    color: #bdc3c7; /* Color gris claro moderno */
}

.credits a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.credits a:hover {
    color: #2980b9;
    text-decoration: underline;
}

/* Estilos para pantallas grandes (PC) */
@media (min-width: 768px) {
    .container {
        padding: 20px;
        margin: 20px 50px; /* Mayor margen en pantallas grandes */
    }

    .title {
        font-size: 3rem; /* Tamaño mayor para PC */
    }

    .button {
        padding: 15px 30px;
        font-size: 1.5rem;
    }

    .credits {
        font-size: 1.2rem;
    }

    .credits h2 {
        font-size: 2rem; /* Título más grande en PC */
    }

    .credits span {
        font-size: 1rem;
    }
}
